{% extends 'layout.html' %}

{% block body %}

{% set cat = catagory.name %}

<div class="pr-5 list-group border-right float-md-left ">

    <div class='catagories'><h3>Catagories</h3></div>
        {% for catagory in catagories %}
            {{cat}}
            {% if cat %} 
                <a href={{ url_for('itemInCatagory',catagory_name = catagory.name ) }} class="list-group-item list-group-item-action active"> {{catagory.name}} </a>
            {% else %}           
                <a href={{ url_for('itemInCatagory',catagory_name = catagory.name ) }} class="list-group-item list-group-item-action"> {{catagory.name}} </a>
            {% endif %}
            {% set cat = False %}
        {% endfor %}
    <hr width="3" size="500">
    <span class="border-right"></span>
</div>


<div class="pl-2 float-left">
    <div class=catagory_items> 
        <h3>{{catagory.name}} items 
            <span class="badge badge-primary badge-pill">{{counter}}</span>
        </h3>
    </div>
    {% for item in items %}
        <div class=item_list>
            <a href={{ url_for('itemDescription',catagory_name = catagory.name, item_name = item.title) }} > {{item.title}} </a>
        </div>
    {% endfor %}

    {% for item in items %}
        <ul class="mw-50 list-group">
          <li class=" list-group-item d-flex justify-content-between align-items-center">
            <a href={{ url_for('itemDescription',catagory_name = catagory.name, item_name = item.title) }} > {{item.title}} </a>
          </li>
        </ul>
    {% endfor %}
    </div>

{% endblock %}
