{% extends 'layout.html' %}

{% block body %}




<div class="pr-4 list-group border-right float-md-left ">

    <div class="catagories"><h3>Catagories</h3>
    </div>
        {% for catagory in catagories %}
                <a href={{ url_for('itemInCatagory',catagory_name = catagory.name ) }} class="list-group-item "> {{catagory.name}} </a>
        {% endfor %}
    <hr width="3" size="500">
    <span class="border-right"></span>
</div>


<div class="pl-4 pr-4 float-md-left">
    <div class="catagory_items">
        <h3>{{catagory.name}} items
            <span class="badge badge-primary badge-pill">{{counter}}</span>
        </h3>
    </div>


    {% for item in items %}
            <a href={{ url_for('itemDescription',catagory_name = catagory.name, item_name = item.title) }} class="list-group-item "> {{item.title}} </a>
    {% endfor %}
    </div>

{% endblock %}
