{% extends 'layout.html' %}

{% block body %}
<title>Edit item </title>
  <h2>Edit item {{item_name}}</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action={{url_for('edit_item', catagories = catagories, item_name = item_name)}} enctype=multipart/form-data method=post id=catagoryform>
    <h3>Title:</h3>
      <input type="text"  name=title placeholder="{{ item_name }}" required>
    <h3>Description:</h3>
      <textarea name="description"  style="width: 400px; height: 100px;" required></textarea>
    <h3>Catagory:</h3>
      <select name=catagory form=catagoryform >
        {% for catagory in catagories %}
        <option value="{{catagory.name}}">{{catagory.name}}</option>
        {% endfor %}
        </select> 
      <br>
      <p><input type=file name=file></p>
      <br>
      <br>

    <input type=submit value=Submit>
  </form>
  <form action={{url_for('home')}} method=post>
    <input type=submit value=Cancel>
  </form>
{% endblock %}


