{% block body %}
<title>Edit item</title>
  <h2>New item</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action={{url_for('add_item')}} method=post>
    <h3>Title:</h3>
      <input type=text name=title>
    <h3>Description:</h3>
      <input type=text name=description>
    <h3>Catagory:</h3>
      <select>
        <option value="Cloths">Cloths</option>
        <option value="Electronics">Electronics</option>
        <option value="Books">Books</option>
        <option value="Software">Software</option>
        <option value="toys">Toys</option>
        <option value="food">Food</option>
        <option value="sports">Sports</option>
        <option value="other">Other</option>
        </select> 
      <br>
      <br>
      <br>
    <input type=submit value=Submit>
  </form>
  <form action={{url_for('home')}} method=post>
    <input type=submit value=Cancel>
  </form>
{% endblock %}
