{% extends "layout.html" %}
{% block body %}

<div class="rounded mx-auto d-block card mb-3 mt-4 w-50 p-3" >
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username required>
      <dt>Password:
      <dd><input type=password name=password required>
      <dd><input type=submit value=Login>
    </dl>
  </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
                <button class="btn btn-dangerous" style="pointer-events: none;" type="button" disabled>{{ message }}</button>
            </span>
          {% endfor %}
      {% endif %}
    {% endwith %}
  <br>
  <h5>Login with Google</h5> 
    <button  class="g-signin2" id="signinButton">Sign in with Google</button>

</div>


<script>
  $('#signinButton').click(function() {

    auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);

  });
</script>


<!--NEW GOOGLE SIGN IN CODE -->
<script>
function signInCallback(json) {
  console.log('inside callback fuction');
  console.log(json);
  // authResult = JSON.parse(json);
  authResult = json;
  if (authResult['code']) {
    console.log('We got authResult, Sending it to the server...')
    // Hide the sign-in button now that the user is authorized, for example:
    $('#signinButton').attr('style', 'display: none');
      //$('#result').html('One-Time Auth Code:</br>'+ authResult['code'] + '')
    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/oauth/google',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
            top.location.href = '/';
          //$('#result').html('Login Successful!</br>'+ result + '')
        } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }
    });
    console.log( authResult['code'] )
   }
}
</script>



{% endblock %}
