{% block body %}
<title>New item</title>
  <h2>New item</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action={{url_for('add_item')}} method=post id=catagoryform>
    <h3>Title:</h3>
      <input type=text name=title>
    <h3>Description:</h3>
      <input type=text name=description>
    <h3>Catagory:</h3>
      <select name=catagory form=catagoryform>
        {% for catagory in catagories %}
        <option value="{{catagory.name}}">{{catagory.name}}</option>
        {% endfor %}
        </select> 

      <br>
      <br>
      <br>
    <input type=submit value=Add_item>
  </form>
{% endblock %}
