{% extends 'layout.html' %}


<form method=post action="">
    
{% block body %}

<div class="rounded mx-auto d-block card mb-3 mt-4 w-50 p-3" >
  <h2>Sign-up</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('signup') }}" method=post>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name=username id="username" aria-describedby="emailHelp" placeholder="Enter username" required>
         {% with messages = get_flashed_messages() %}
            {% if messages %}
             {% for message in messages %}
                 <span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
                      <button class="btn btn-dangerous" style="pointer-events: none;" type="button" disabled>{{ message }}</button>
                  </span>
             {% endfor %}
            {% endif %}
         {% endwith %}

      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name=email id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name=password id="exampleInputPassword1" placeholder="Password" required>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  <br>
    <h5>Or Sign-in with Google</h5>
    <div id="result"></div>
    <button  class="g-signin2" id="signinButton">Sign in with Google</button>
</div>




<script>
  $('#signinButton').click(function() {

    auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(signInCallback);

  });
</script>


<!--NEW GOOGLE SIGN IN CODE -->
<script>
function signInCallback(json) {
  console.log('inside callback fuction');
  console.log(json);
  // authResult = JSON.parse(json);
  authResult = json;
  if (authResult['code']) {
    console.log('We got authResult, Sending it to the server...')
    // Hide the sign-in button now that the user is authorized, for example:
    $('#signinButton').attr('style', 'display: none');
    $('#result').html('you will be redirected soon, please wait... ')
    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/oauth/google',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
            top.location.href = '/';
          //$('#result').html('Login Successful!</br>'+ result + '')
        } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }
    });
    console.log( authResult['code'] )
   }
}
</script>


{% endblock %}
